.site-header {
    background-color:pink;
    padding: 20px 0;
    color: #fff;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

.travel-destinations {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.travel-destinations h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.filter-container {
    margin-bottom: 40px;
}

.filter-btn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #ff4500;
}

.articles-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.article {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}

.article img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.article h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.article p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.read-more {
    text-decoration: none;
    color: #ff6347;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}
